.venv/
__pycache__/
*.pyc
display/
artifacts/models/
artifacts/metrics/
runtime/cache/
runtime/state/build/
runtime/logs/*.log
runtime/logs/
runtime/img/
app/gui_qt/.icon_cache/
gym_mod/build/
runtime/state/img/*.png
runtime/state/data.json
runtime/state/response.txt
runtime/state/units.txt
trainRes.txt
*.log
*.core
